.layout {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.error {
  color: red;
}

.orLink{
  color:black;
}

.box {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  background-color: rgb(224, 224, 224);
  box-sizing: border-box;
  padding: 20px;
  border: solid;
}

input {
  width: 200px;
  padding: 5px;
  border: 1px solid #000000;
  

}



button {
  margin-top: 20px;
  display: block;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: monospace;
}


ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(62, 63, 65);
 }
 
 ul.header li { float: left;}
 
 ul.header li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }
 ul.header li a:hover:not(.active) { background-color: #111;}
 
 .active { background-color: #6e6e6e;}


